/*=====================================
       IMG PARTIAL
======================================*/

img{
  width: 50%;
  max-width: 95px;
  border-radius: 50%;
}

// section img {
//   float: left;
// }