/*=====================================
       SECTION PARTIAL
======================================*/

section {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 1.5rem 1rem;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    border: 1px solid #000;
    opacity: .5;
  }
}

.employee-info {
  width:100%;
  padding-left: .5rem;
  overflow: hidden;
  & p, & h2{
  margin: .2rem;
  }
  & h2 {
    color: #4c4c4c;
    font-size: 1em;
  }
  & p {
    color: lighten(#737373, 30%);
    font-size: .9em;
  }
}

