/*=====================================
       BASE PARTIAL
======================================*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

main {
  margin: 0 auto;
  width: 90vw;
}