/*=====================================
       BASE PARTIAL
======================================*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

#directory, h1 {
  width: 90vw;
}

#directory {
  margin: 0 auto;
}